body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: 8px;
  margin: 0 0 8px 0;
}

h1 {
  font-size: 24px;
  border-bottom: 1px solid #e6e6e6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 8px;
}

label {
  font-size: 14px;
}

input, select {
  padding: 4px;
  font-size: 12px;
}

h2 {
  font-size: 16px;
}

svg {
  border: 1px solid #ddd;
}

button {
  max-width: fit-content;
}